body {
    background-color: #f6f5f5;
}

hr {
    border: none;
    border-top-style: dotted;
    border-color: black;
    border-width: 5px;     
    height: 2px;
    width: 10%;
}

h1 {
    color: #1f3c88;
}

h3 {
    color: #ee6f57;
}